

.header {
    background-color: darkred;
    color: black;
    padding: 30px;
    text-align: center;
}

.main {
    background-color: darkkhaki;
    color: dimgrey;
    width: 60%;
    margin: auto;
    padding: 20px 60px;
}

body {
    margin: 0px;
}